{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
A budding Ethical hacker and a passionate web developer.

{% endblock %}
{% block title %}

{% endblock %}
{% block content %}

<div>
    <ul>
        <b>Certifications</b>
        <li>
            CCNA </li>
        <li>MCSA</li>
        <li>C-EH V11</li>
        <li>RHCSA</li>
        <li>PYTHON FULL STACK DEVELOPER FROM INMAKES</li>
        <li>PYTHON AUTOMATION FROM TUTEDUDE</li>
        <li>DATA SCIENCE</li>
        <li>C-EH from EC-Council</li>
<li>IELTS WITH OVERALL 6</li>
        <li>MACHINE LEARNING FROM PANTECH. SOLN</li>
        <li>2 DAYS EXCEL WORKSHOP</li>
        <li>7 DAYS BOOTCAMP OF WEB DEVELOPMENT</li>


    </ul>
</div>
{% endblock %}