{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
A budding Ethical hacker and a passionate web developer.

{% endblock %}
{% block title %}

{% endblock %}
{% block content %}


<div class="text-align:center;">
    <ul>
        <li>
           <b>Blue Shell Tech.</b> <p>
Did internship from Blue shell tech. which is a leading company in ethical hacking training.
Internship Program
Achieved the certification in C-EH v 11
Learnt so many tools in C-EH v1
Learnt microsoft certified systems administration, RedHat Certified systems administration, Cisco Cerified Network Associate and ethical hacking.
Did internship from Blue shell tech. which is a leading company in ethical hacking training.
Internship Program
Achieved the certification in C-EH v 11
Learnt so many tools in C-EH v1
Learnt microsoft certified systems administration, RedHat Certified systems administration, Cisco Cerified Network Associate and ethical hacking.
</p>
        </li><li><b>
        Inmakes info Tech
    </b>
        <p>
Created calculator,QR code generator using tkinter.
Deployed own websites using python django

            Learnt Django
            Learnt to do project using Flask.
Did projects using open computer vision
Learnt automation using selenium and built a facebook autoposter.
Did Bitcoin prediction using machine learning

        </p></li>
        <li><b>
        work experience in non tech field
    </b><p>
        AUTOWINGS  GARAGE AL-QOUZ, DUBAI-Admin assistant
May 2020-july 2021
Only Fresh,Ajman-Customer sales representative
July 2019-march 2020
AL SENEGAL ALUM & CONT., Sharjah-Admin Assistant
August 2016-january 2017
CHARTERED ACCOUNTANTS FIRM, Kochi, India-Audit trainee
August 2015-March 2016
</p>
    </li><li>
    <b>SkillSet</b><p><ul>
        <li> 1.Resolving problems & issues within set timelines thereby developing the Knowledge Base; ensuring that the issue does not happen again.</li>
        <li>2.Handling the complete installation, configuration & maintenance of Microsoft Windows Servers and Clients.</li>
        <li>3.Strong understating capability.</li>
        <li>4.Web technologies like python, php, tkinter,html,Bootstrap using framework django.Strong knowledge of webserver Rest API and version tools like GIT, GITHUB and hosting  through pythonanywhere.</li>
</ul>
    </p>
    </li><p>
       <li> <b>Reference</b>
Mr.Arun V -Senior instructor and manager.
Blue Shell Tech.

    </li>
    </p>
    </ul>
</div>

{% endblock %}