{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
A budding Ethical hacker and a passionate web developer.

{% endblock %}
{% block title %}

{% endblock %}
{% block content %}


    <div class="row my_row_class">
</div >



<!--<div><a href="{% url 'portfolio:myportfolio' %}">Welcome to my site</a>-->
 </div>
    <div>
</div>




 <br>



<div>
  <img  class="my_image my_image_padding" src="{% static 'img/banners.png' %}" alt="" height="auto" width="50%" >

</div>


<div></a>
 </div><div>
    <p>
        To work in a dynamic professional environment with a growing organization where I can make use of my creativity and innovative thinking for the benefit of the organization and myself.
    </p>
</div>
                  <form class="d-flex" action="{% url 'portfolio:education' %}" method="get">

<form class="form-inline my-2 my-lg-0">
    <h3 style="margin-left:350px; margin-bottom:.25;padding-left:100px;"> Educational Details</h3>
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Click here</button>
</form></form>


    <div>
</div>

{% endblock %}